.projects {
  background-color: rgb(32, 35, 40);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 20px;
}
.heading {
  color: #00d1b2;
  padding: 20px;
  font: var(--h1);
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: black;
  height: 500px;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}

figure {
  color: white;
  font-size: 18px;
}

.card figure img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 5px;
}

figcaption {
  margin-top: 35px;
  font-size: 35px;
  color: #00947e;
  font-family: var(--ff);
}
.cardInfo {
  margin-top: 40px;
  font-family: var(--ff);
}
@media (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1000px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr; /* Single column layout */
  }
}

/* .works {
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.works img {
  width: 100%;
  height: auto;
  max-height: 50vh;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
@media (max-width: 1000px) {
  .works {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
} */
